body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    }
    h1{font-size: 50px;}
    span{
        color: orangered;
    }
    section{
        display:flex;
        margin-bottom: 100px;
    }
    .half-width{
        width:50%
    }
    .half-width{
        padding-left: 5%;
    }
    .half-width img {
        width:80%
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orangered, orange);
        padding: 10px 40px;
        border-radius: 5px;
        font-weight: 700;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .second-pic{margin-left: 10px;
    margin-right: 10px;
padding-right: 10px;}
.second-point{
    padding-left: 100px;
    padding-right: 30px;
    margin-right: 100px;
}
.foot{
    text-align: center;
}